n8n_reporte_diario_corregido.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 20 * * *"
                        }
                    ]
                }
            },
            "id": "0861b6f0-329b-48a3-8159-2a1b38ee6d0a",
            "name": "Disparador Diario 20:00",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                -1408,
                176
            ]
        },
        {
            "parameters": {
                "url": "https://uvclbuxgegmhnlflowjz.supabase.co/rest/v1/sales",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "created_at",
                            "value": "=gte.{{ $now.format('yyyy-MM-dd') }}T00:00:00-06:00"
                        },
                        {
                            "name": "status",
                            "value": "neq.cancelado"
                        },
                        {
                            "name": "select",
                            "value": "total"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ecb3a197-4a88-4266-92ba-681cf85e3d95",
            "name": "Consultar Ventas",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -1168,
                176
            ],
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "url": "https://uvclbuxgegmhnlflowjz.supabase.co/rest/v1/inventory",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "select",
                            "value": "*"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        }
                    ]
                },
                "options": {}
            },
            "id": "f66f2fcd-276d-4cb4-83a4-04fd79cee7fb",
            "name": "Consultar Inventario",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -912,
                176
            ],
            "alwaysOutputData": true,
            "executeOnce": true
        },
        {
            "parameters": {
                "url": "https://uvclbuxgegmhnlflowjz.supabase.co/rest/v1/cash_shifts",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "select",
                            "value": "*"
                        },
                        {
                            "name": "order",
                            "value": "start_time.desc"
                        },
                        {
                            "name": "limit",
                            "value": "5"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        }
                    ]
                },
                "options": {}
            },
            "id": "dc6420f4-6ef5-4e8e-84e2-7fd2f1b08f37",
            "name": "Consultar Turno",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -672,
                176
            ],
            "alwaysOutputData": true,
            "executeOnce": true
        },
        {
            "parameters": {
                "url": "https://uvclbuxgegmhnlflowjz.supabase.co/rest/v1/expenses",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "select",
                            "value": "monto"
                        },
                        {
                            "name": "created_at",
                            "value": "=gte.{{ $now.format('yyyy-MM-dd') }}T00:00:00-06:00"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        }
                    ]
                },
                "options": {}
            },
            "id": "d9fca0a9-be9b-4673-a0eb-999d225104ad",
            "name": "Consultar Gastos",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -432,
                176
            ],
            "alwaysOutputData": true,
            "executeOnce": true
        },
        {
            "parameters": {
                "url": "https://uvclbuxgegmhnlflowjz.supabase.co/rest/v1/purchases",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "select",
                            "value": "total"
                        },
                        {
                            "name": "created_at",
                            "value": "=gte.{{ $now.format('yyyy-MM-dd') }}T00:00:00-06:00"
                        }
                    ]
                },
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV2Y2xidXhnZWdtaG5sZmxvd2p6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2Njk4OTMwNywiZXhwIjoyMDgyNTY1MzA3fQ.rMSoqIC1vMvdI7gkD2dS7TgHDiglV1Z-7xJs5Pvxykg"
                        }
                    ]
                },
                "options": {}
            },
            "id": "683f5633-05af-485b-a7b6-6e03cd13879e",
            "name": "Consultar Compras",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                -192,
                176
            ],
            "alwaysOutputData": true,
            "executeOnce": true
        },
        {
            "parameters": {
                "jsCode": "const today = new Intl.DateTimeFormat('es-MX', {\n    timeZone: 'America/Mexico_City', \n    day: 'numeric', month: 'numeric', year: 'numeric'\n}).format(new Date());\n\nconst getAllData = (nodeName) => {\n  try {\n    return $(nodeName).all().map(i => i.json).filter(j => j && Object.keys(j).length > 0);\n  } catch (e) {\n    return [];\n  }\n};\n\nconst sales = getAllData('Consultar Ventas');\nconst inventory = getAllData('Consultar Inventario');\nconst allTurnos = getAllData('Consultar Turno');\nconst expenses = getAllData('Consultar Gastos');\nconst purchases = getAllData('Consultar Compras');\n\n// LÓGICA HÍBRIDA: Filtrar turnos relevantes para hoy\nconst now = new Date();\nconst todayStart = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 0, 0, 0);\nconst todayEnd = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 23, 59, 59);\n\nconst relevantTurnos = allTurnos.filter(turno => {\n  const startTime = turno.start_time ? new Date(turno.start_time) : null;\n  const endTime = turno.end_time ? new Date(turno.end_time) : null;\n  const status = (turno.status || '').toLowerCase();\n  \n  if (startTime && startTime >= todayStart && startTime <= todayEnd) return true;\n  if (status === 'open') return true;\n  if (endTime && endTime >= todayStart && endTime <= todayEnd) return true;\n  \n  return false;\n});\n\nconst turnos = relevantTurnos.sort((a, b) => {\n  const dateA = new Date(a.start_time || 0);\n  const dateB = new Date(b.start_time || 0);\n  return dateB - dateA;\n}).slice(0, 1);\n\nlet message = `☕ *RESUMEN DIARIO OASIS CAFÉ* ☕\\n📅 ${today}\\n\\n`;\n\nmessage += `💰 *VENTAS DEL DÍA*\\n`;\nconst totalSales = sales.reduce((sum, item) => sum + (item.total || 0), 0);\nmessage += `Ventas registradas: ${sales.length}\\n`;\nmessage += `Total recaudado: $${totalSales.toFixed(2)}\\n\\n`;\n\nmessage += `📉 *GASTOS DEL DÍA*\\n`;\nconst totalExpenses = expenses.reduce((sum, item) => sum + (item.monto || 0), 0);\nconst totalPurchases = purchases.reduce((sum, item) => sum + (item.total || 0), 0);\nconst granTotal = totalExpenses + totalPurchases;\n\nmessage += `🛒 Operación: $${totalExpenses.toFixed(2)}\\n`;\nmessage += `📦 Stock/Mercancía: $${totalPurchases.toFixed(2)}\\n`;\nmessage += `*Total Gastos: $${granTotal.toFixed(2)}*\\n\\n`;\n\nmessage += `📦 *INVENTARIO ACTUAL*\\n`;\nconst sortedInv = inventory\n  .filter(i => i.product_name || i.name)\n  .sort((a,b) => (a.product_name || a.name).toLowerCase().localeCompare((b.product_name || b.name).toLowerCase()));\n\nif (sortedInv.length === 0) {\n  message += `_No hay datos de inventario_\\n`;\n} else {\n  sortedInv.forEach(item => {\n    const stock = item.stock || 0;\n    const name = item.product_name || item.name;\n    let emoji = stock <= 0 ? '🔴' : (stock <= 5 ? '🟠' : (stock <= 10 ? '⚠️' : '✅'));\n    message += `${emoji} ${name}: ${stock} pzs\\n`;\n  });\n}\n\nmessage += `\\n📊 *ARQUEO DE CAJA*\\n`;\nif (turnos.length > 0) {\n  const s = turnos[0];\n  const status = (s.status || '').toLowerCase();\n  const efectivoEsperado = status === 'open' ? (s.initial_fund || 0) : (s.expected_cash || s.expected_amount || 0);\n\n  if (status === 'open') {\n    message += `Estado: ABIERTO 🟢 (En curso)\\n`;\n    message += `Efectivo en caja: $${efectivoEsperado.toFixed(2)}\\n`;\n    message += `_Nota: Turno iniciado con fondo de $${(s.initial_fund || 0).toFixed(2)}_\\n`;\n  } else {\n    message += `Estado: CERRADO 🔴\\n`;\n    message += `Efectivo real: $${(s.actual_cash || 0).toFixed(2)}\\n`;\n    message += `Efectivo esperado: $${efectivoEsperado.toFixed(2)}\\n`;\n    const diff = s.difference || 0;\n    message += `${diff === 0 ? '✅' : '⚠️'} Diferencia: $${diff.toFixed(2)}\\n`;\n  }\n} else {\n  message += `Estado: Sin turnos detectados hoy\\n`;\n}\n\nmessage += `\\n_Reporte diario Oasis Café_`;\n\nreturn [{ json: { message } }];"
            },
            "id": "4da6f35d-2c32-4a46-b2ad-647a725f868a",
            "name": "Formatear Mensaje",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                48,
                176
            ]
        },
        {
            "parameters": {
                "chatId": "1765256468",
                "text": "={{$json.message}}",
                "additionalFields": {
                    "appendAttribution": false,
                    "parse_mode": "Markdown"
                }
            },
            "id": "fdbb8d0f-a11a-4cc1-891a-7e9865e2b48e",
            "name": "Mensaje Telegram",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                288,
                176
            ],
            "webhookId": "cd8f4bf5-4600-4f37-a56a-83d7fa579212",
            "credentials": {
                "telegramApi": {
                    "id": "a0wOJERYUa2X0dv3",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Disparador Diario 20:00": {
            "main": [
                [
                    {
                        "node": "Consultar Ventas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar Ventas": {
            "main": [
                [
                    {
                        "node": "Consultar Inventario",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar Inventario": {
            "main": [
                [
                    {
                        "node": "Consultar Turno",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar Turno": {
            "main": [
                [
                    {
                        "node": "Consultar Gastos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar Gastos": {
            "main": [
                [
                    {
                        "node": "Consultar Compras",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Consultar Compras": {
            "main": [
                [
                    {
                        "node": "Formatear Mensaje",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Formatear Mensaje": {
            "main": [
                [
                    {
                        "node": "Mensaje Telegram",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}